<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/auth.css">    
    <link rel="stylesheet" href="/css/forms.css">
    
</head>

<body>
   <%- include('../includes/nav.ejs') %>
    <main>
        <div class="confirm-wrap">
            <h1 id="please-confirm" class="poppins-600">Your account has been confirmed!</h1>
            <a href="/login" id="return-login" class="poppins-400">Return to login</a>
        </div>
    </main>
<%- include('../includes/end.ejs') %>