<head>
    <link rel="stylesheet" href="/css/auth.css">    
</head>

<style>
    body, html {
      height: 100%;
      margin: 0;
    }
    main {
      height: 100%;
    }
    .email-wrap {
      height: 100%;
      width: 100%;
    }
    .button-div {
        width: 80px;
        height: 40px;
        background-color: red;
    }
</style>

<body>
    <main>
        <div class="email-wrap">
            <h2>Please click the link below to confirm your email address.</h1>
            <div class="button-div">
                <a href="http://localhost:3001/confirm/">http://localhost:3001/confirm/</a>
            </div>
        </div>
    </main>
</body>
